./build
Makefile
.cache/
compile_commands.json
.modulecache/

#Binaries
**/bin/
bin-int/
conan_dependencies/
scripts/__pycache__/

# Visual Studio files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user


